/*containerSearch*/
	#containerSearch>form{
		display: grid;
		background-color:#8ECAE6;
		height: 300px;
		grid-template-columns: repeat(11, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
	/*LABELS*/
		#containerSearch>form>label[for^="vendedoras"]{
			grid-column: 2;
			grid-row: 2;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		#containerSearch>form>label[for="totMesText"]{
			grid-column: 5/6;
			grid-row: 2/3;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		#containerSearch>form>label[for="TotMesUnidadeText"]{
			grid-column: 8/9;
			grid-row: 2;
			display: flex;
			justify-content: center;
			align-items: center;
		}

/*containerSelect*/
	.containerSelect{
		grid-column: 3/5;
		grid-row: 2/3;
		display: flex;
		align-items: center;
		justify-content: start;
	}

	.containerSelect>select{
		height: 50%;
		width: 70%;
		font-size: 12px;
		margin-left: 5px;
	}

/*containerTotMes*/
	.containerTotMes{
		grid-column: 6/8;
		grid-row: 2/3;
		display: flex;
		align-items: center;
		justify-content: start;
	}
	.containerTotMes input{
		width: 70%;
		height: 50%;
		margin-left: 5px;
		font-size: 12px;
	}

/*containerTotMesUnidade*/
	.containerTotMesUnidade{
		grid-column: 9/11;
		grid-row: 2/3;
		display: flex;
		align-items: center;
		justify-content: start;
	}
	.containerTotMesUnidade input{
		width: 70%;
		height: 50%;
		font-size: 12px;
		margin-left: 5px;
	}